{% extends 'base.html' %}


{% block content %}

<h1>Reg New Address</h1>

<form action="" method="post">
    {{ form.csrf_token }}
    <div class="form-group">

        {{ form.name.label }}
        {{ form.name(class='form-control', placeholder='Name') }}

        {{ form.address.label }}
        {{ form.address(class='form-control', placeholder='Address') }}

        {{ form.phonenumber.label }}
        {{ form.phonenumber(class='form-control', placeholder='Phonenumber') }}

        {{ form.submit(class='btn btn-dark w-100') }}
    </div>

</form>



{% endblock content %}