{% extends 'base.html' %}


{% block content %}

  <p>This is where i want single products to be from id listings</p>
   
  {% for p in posts %}

    
   
    </p>
    <div class="container row">

    
        <div class="d-flex justify-content-center col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h1>{{ p.title }} {{ p.id }}</h1>
                    <div>
                        <img src="https://via.placeholder.com/300C/O https://placeholder.com/" alt="">
                    </div>
                    <div>

                        <p>{{ p.price }}</p>
                        <h4></h4>
                    </div>
                    <a href="" class="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
        </div>
    
    </div>  
    {% endfor %}
{% endblock content %}