{% extends 'base.html' %}


{% block content %}

    <h1>My Address</h1>

    {% for a in address %}
    
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <strong>{{ a.name.title() }}</strong>
            </div>
            <div class="card-body text-dark">
                <p class="card-title">Address: {{ a.address }}</p>
                <p class="card-text">PhoneNumber: {{ a.phonenumber }}</p>
                <div class="pb-1">
                    <cite>&mdash; {{ a.author }}</cite>
                </div>
                <a href="{{ url_for('blog.edit_address', address_id=a.id) }}" class="btn btn-primary ">Edit</a>
                <button class="btn btn-danger" type="button"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ a.id }}">Delete</button>                
            </div>
        </div>


        <div class="modal fade" id="deleteModal{{ a.id }}" tabindex="-1" aria-labelledby="deleteModal{{ a.id }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal{{ a.id }}Label">Delete {{ a.name }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete {{ a.title }}? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{{ url_for('blog.delete_address', address_id=a.id) }}" class="btn btn-danger">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}